# ~/.aliases

# System management
# =================
    # TODO: change source file depending on which shell is being used
    alias   mx="chmod +x" \
            src="source ~/.zshrc" \
            delswap="trash ~/.local/share/n$EDITOR/swap/*; echo 'Cleaned up vim swap files'"

# Adding colors
# =============
    alias   grep="grep --color=auto" \
            fgrep="fgrep --color=auto" \
            egrep="egrep --color=auto" \
            ls="ls --color=auto"

# Directory Navigation
# ====================
    alias   cdb="cd ~/bin" \
            cdd="cd ~/dev/personal/dotfiles" \
            cdv="cd ~/.config/$EDITOR" \
            cfh="cd ~"

# Frequent Files
# ==============
    alias   cfb="$EDITOR ~/.bashrc" \
            cfa="$EDITOR ~/.aliases" \
            cfz="$EDITOR ~/.zshrc" \
            cfp="$EDITOR ~/.profile" \
            cfv="$EDITOR ~/.$EDITOR/vimrc" \
            cfs="$EDITOR ~/.ssh/config" \
            cft="$EDITOR ~/.tmux.conf" \
            cfw="$EDITOR ~/wiki/index.md"

# Misc
# ====
    alias   gs="gss"
