# ~/.aliases

# Windows machine aliases
# =======================
    # Go to Windows directories
    alias   win="cd /mnt/c/Users/erick" \
            wind="cd /mnt/f/Downloads" \
            winf="cd /mnt/f" \
            wind="cd /mnt/d" \
            winc="cd /mnt/c" \
            open="wslview" \
            chrome="/mnt/c/Program\ Files\ \(x86\)/Google/Chrome/Application/chrome.exe"

# System management
# =================
    # TODO: change source file depending on which shell is being used
    alias   mx="chmod +x" \
            src="source ~/.zshrc" \
            delswap="trash ~/.local/share/nvim/swap/*; echo 'Cleaned up nvim swap files'"

# Adding colors
# =============
    alias   grep="grep --color=auto" \
            fgrep="fgrep --color=auto" \
            egrep="egrep --color=auto" \
            ls="ls --color=auto"

# Directory Navigation
# ====================
    alias   cdb="cd ~/.local/bin" \
            cdv="cd ~/.config/vim" \
            cfh="cd ~"

# Frequent Files
# ==============
    alias   cfb="vim ~/.bashrc" \
            cfa="vim ~/.aliases" \
            cfz="vim ~/.zshrc" \
            cfp="vim ~/.profile" \
            cfv="vim ~/.vim/vimrc" \
            cfs="vim ~/.ssh/config"

# Misc
# ====
    alias   gs="gss"
